@import "compass/reset";
@import "compass/utilities/tables";
@import "paper";

// Colors
$black: #000;
$gray: #666;
$red: #a90533;
$white: #fff;

// Typography
body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  color: $black;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
	margin-bottom: 0.4em;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.6em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.3em;
}

h6 {
  font-size: 1.1em;
}

code {
  font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
}

// Layout
html {
  background: #eee;
}

body {
  margin: 0 auto;
  max-width: 210mm; // TODO: Refactor this out of here

  > div {
		padding: 1em;
	}
}

.block {
}

.header {
	display: block;
  overflow: auto;

  h1 {
		float: left;
	}
}

table {
  $table-color: $red;
  @include table-scaffolding;
  @include inner-table-borders(2px, $white);
  @include outer-table-borders(2px, $white);
  //@include alternating-rows-and-columns($table-color, adjust-hue($table-color, -120deg), #222222);
  @include alternating-rows-and-columns($table-color, $table-color, #222222);
}

// Misc.
.logo {
	max-height: 100px;
  float: right;
}
