@import "compass/reset";
@import "compass/utilities/tables";
@import "compass/utilities/tables/alternating-rows-and-columns";
@import "paper";

// Colors
$black: #000;
$gray: #666;
$light-gray: #e6e6e6;
$red: #a90533;
$white: #fff;

// Typography
body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 0.85em;
  color: $black;
  line-height: 1.3em;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
	margin-bottom: 0.5em;
	margin-top: 0.5em;
	text-transform: uppercase;
}

h1 {
	margin-top: 0.2em;
  font-size: 2.8em;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.55em;
}

h4 {
  font-size: 1.45em;
}

h5 {
  font-size: 1.3em;
}

h6 {
  font-size: 1.1em;
}

p, code, span, table, dd, dt {
  font-size: 0.95em;
}

a {
  color: $red;
}

p.subscript {
  float: left;
  clear: left;
  font-style: italic;
  color: adjust-lightness($gray, -20);
  margin: -6px 0 10px 0;
}

code {
  font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
  background: $light-gray;
  color: adjust-lightness($red, -5);
  font-weight: 600;

  border-radius: 4px;
  padding: 0px 3px;
  display: inline-block;
}

.credit a {
  font-weight: bold;
}

// Layout
html {
  background: $light-gray;
}

body {
  margin: 0 auto;
  max-width: 210mm; // TODO: Refactor this out of here

}

.wrapper {
	display: block;
  overflow: auto;
  padding: 1em;

  h1 {
		float: left;
	}
}

.header, #exit-signals, #exceptions, #errors, #process-relationships, #footer {
  display: block;
  overflow: auto;
  float: left;
  clear: left;
}

#trapping-exits {
  display: block;
  clear: left;
}

#footer {
  padding: 1em 0;
  float: right;
}


table {
  margin-bottom: 0.5em;
  $table-color: $red;
  @include table-scaffolding;

  td {
    padding: 3px 4px;
  }
  //@include inner-table-borders(2px, $white);
  //@include outer-table-borders(2px, $white);
  //@include alternating-rows-and-columns($table-color, adjust-hue($table-color, -120deg), #222222);
  //@include alternating-rows-and-columns($white, $red, $white);
  thead {
    background: $light-gray;

    td {
      font-weight: bold;
    }
  }

  tr:nth-child(2n) {
    background: $light-gray;
  }
}

// Misc.
.logo {
	max-height: 120px;
	max-width: 140px;
  float: right;
  margin: 0 0 1em 1em;
}

dt, dd {
  float: left;
  margin-right: 0.2em;
}
dd {
  margin-right: 1em;
}
